@font-face {
  font-family: 'Poppins Regular';
  src: url('./Fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('./Fonts/Lobster-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Project Responsive */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}